mcc2
tmp
tmp.s
src/*.o
src/*.d
dev/cc.dwarf
dev/cc.o
dev/cc.s
dev/mcc2.o
dev/mcc2.s
dev/mcc2.dwarf
test.exe
test/c/*.o
test/c/*.d
test/c/*.s
selfhost/*.o
selfhost/*.s
selfhost/mcc2
selfhost/test/c/*.o
selfhost/test/c/*.s
selfhost/mcc2t
